streamlit
pandas
pycaret
matplotlib
seaborn
scikit-learn
numpy
scipy
plotly
streamlit-pandas-profiling
ydata-profiling==4.8.3
phik==0.11.1

cython==0.29.36
setuptools>=58.0.4
wheel


statsmodels>=0.13.0